DATABASE_URL=postgresql://username:password@localhost:5432/image_db
QUEUE_URL=https://sqs.eu-north-1.amazonaws.com/123456789012/image-processing-queue
AWS_DEFAULT_REGION=eu-north-1
BUCKET_NAME=your-s3-bucket-name
